<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
		 version="4.0">
  <display-name>Affection_web</display-name>
  <servlet>
  <servlet-name>captcha</servlet-name>
  <servlet-class>uuu.Affection.view.captcha</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>captcha</servlet-name>
  <url-pattern>/images/captcha.jpg</url-pattern>  
  </servlet-mapping>
  
  <!-- 兩個驗證碼 註冊用
  <servlet>
  <servlet-name>register_captcha</servlet-name>
  <servlet-class>uuu.Affection.view.captcha</servlet-class>
 <init-param>
 <param-name>len</param-name>
 <param-value>7</param-value>
  </init-param>
  </servlet>
 
  <servlet-mapping>
  <servlet-name>register_captcha</servlet-name>
  <url-pattern>/images/register_captcha.jpg</url-pattern>  
  </servlet-mapping> -->
  
  <session-config>
  <session-timeout>10</session-timeout>
  </session-config>
  
  <error-page>
  <error-code>404</error-code>
  <location>/WEB-INF/erro/404.jsp</location>
  </error-page>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <!-- <welcome-file>index.htm</welcome-file>
    	 <welcome-file>default.html</welcome-file>
    	 <welcome-file>default.htm</welcome-file>
    	 <welcome-file>default.jsp</welcome-file> -->
  </welcome-file-list>
</web-app>